<div class="text-center mb-5">
  <div class="col-12 col-md-10 col-lg-8 mx-auto">
    <h1>Galileo helps you separate facts from fiction</h1>
    <p>We provide journalists and media with more efficient tools for fact checking.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="offset-md-2 col-12 col-md-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h4 class="text-primary">
            1. Add a claim
          </h4>
          <p>Do you want to know if a text, video or image is fact or fiction? Start the fact checking process by
            adding
            a claim.</p>
        </li>
        <li class="list-group-item">
          <h4 class="text-primary">
            2. Make a fact check
          </h4>
          <p>Use our checklists and tools to make your fact checking more robust.</p>
        </li>
        <li class="list-group-item">
          <h4 class="text-primary">
            3. Publish on the blockchain
          </h4>
          <p>Once a fact check is on the block chain, no one can tamper with it.</p>
        </li>
      </ul>
      <div class="pl-3">
        <a href="/claims/new">
          <button type="button" class="btn mt-2 btn-primary">Get started
            fact-checking</button></a> <br>
        <span class="small"><a href="/claims">Or browse our database</a></span></div>
    </div>
    <div class="col-12 col-md-4 text-center">
      <img width="80%" src="<%= asset_path('figure3.png') %>" />
    </div>
  </div>
</div>

<div class="text-center mt-5 mb-5">
  <div class="col-12 col-md-10 col-lg-8 mx-auto">
    <h3>Tools for journalists</h3>
    <p>We provide journalists and media with more efficient tools for fact checking.</p>
  </div>
</div>