<div class="text-center mb-5">
  <div class="col-12 col-md-10 col-lg-8 mx-auto">
    <h1>About Galileo</h1>
    <p></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h3>How it started</h3>
      <p>Galileo started as a research project called “the fact check assistant” and is developed in cooperation
        between "Future Journalism" and Södertörn University. The initial purpose of the assistant was to help
        strengthen confidence in journalistic news produ ction, by supporting editors in finding the balance between a
        fast and credible news production for the digital platforms. The research and processes have culminated in this
        website
        which visualizes key resources and provides practical fact-checking facilitation. </p>

      <h3>Partners</h3>
      <p> </p>
    </div>


  </div>

</div>

<div class="container mt-5">
  <h3 class="text-center mb-4">Researchers involved</h3>
  <div class="row mt-3">
    <div class="col-12 col-md-5 offset-md-1">
      <div class="d-flex">
        <img width="70px" height="70px" src="<%= asset_path('walid.png') %>" />
        <div class="ml-4">
          <h5>Walid Al-Saqaf, PhD</h5>
          <p class="small">Walid specializes in the use of the Internet and media technology for journalism and freedom
            of
            expresssion
          </p>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-5">
      <div class="d-flex">
        <img width="70px" height="70px" src="<%= asset_path('malin.png') %>" />
        <div class="ml-4">
          <h5>Malin Picha Edwardsson, PhD</h5>
          <p class="small">Malin is a teacher and researcher in journalism. She has a particular focus on
            storytelling,
            and recently also the blockchain.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>