/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
   background-color: #4B7399;
   font-family: Verdana, Helvetica, Arial;
   font-size: 14px;
 }

 a img {
   border: none;
 }

 a {
   color: #0000FF;
 }

 .clear {
   clear: both;
   height: 0;
   overflow: hidden;
 }

 #container {
   width: 100%;
   margin: 0 auto;
   background-color: #FFF;
   padding: 20px 40px;
   border: solid 1px black;
   margin-top: 20px;
 }

 #flash_notice, #flash_error, #flash_alert {
   padding: 5px 8px;
   margin: 10px 0;
 }

 #flash_notice {
   background-color: #CFC;
   border: solid 1px #6C6;
 }

 #flash_error, #flash_alert {
   background-color: #FCC;
   border: solid 1px #C66;
 }

 .fieldWithErrors {
   display: inline;
 }

 .error_messages {
   width: 800px;
   border: 2px solid #CF0000;
   padding: 0px;
   padding-bottom: 12px;
   margin-bottom: 20px;
   background-color: #f0f0f0;
   font-size: 12px;
 }

 .error_messages h2 {
   text-align: left;
   font-weight: bold;
   padding: 5px 10px;
   font-size: 12px;
   margin: 0;
   background-color: #c00;
   color: #fff;
 }

 .error_messages p {
   margin: 8px 10px;
 }

 .error_messages ul {
   margin: 0;
 }

 form .field, form .actions {
   margin: 12px 0;
 }

 .product h2 {
   font-size: 16px;
   margin-bottom: 2px;
 }

@import "bootstrap-sprockets";
@import "bootstrap";

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

.fragment {
    font-size: 12px;
    font-family: tahoma;
    border: 3px solid #ccc;
    background-color: #F2F2F2;
    color: #555;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}

.fragment:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}

.fragment img {
    float: left;
    margin-right: 10px;
}
.fragment h3,
.fragment h4 {
    padding: 0;
    margin: 0;
}

.fragment h3 {
    color: #369;
}
.fragment h4 {
    color: #000;
}

.read-more {
    display: block;
    clear: both;
    margin: 20px 0 0 28px;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.Center-Container {
  position: relative;
  height: 100%;
}

.Absolute-Center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}


.form-claim {
	margin:0px auto;
	max-width: 90%;
	padding: 0px 12px 0px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-claim li {
  font-size: 30;
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-claim label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-claim input[type=text],
.form-claim input[type=date],
.form-claim input[type=datetime],
.form-claim input[type=number],
.form-claim input[type=search],
.form-claim input[type=time],
.form-claim input[type=url],
.form-claim input[type=email],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.form-claim input[type=text]:focus,
.form-claim input[type=date]:focus,
.form-claim input[type=datetime]:focus,
.form-claim input[type=number]:focus,
.form-claim input[type=search]:focus,
.form-claim input[type=time]:focus,
.form-claim input[type=url]:focus,
.form-claim input[type=email]:focus,
.form-claim textarea:focus,
.form-claim select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-claim .field-divided{
	width: 49%;
}

.form-claim .field-long{
	width: 100%;
}
.form-claim .field-select{
	width: 100%;
}
.form-claim .field-textarea{
	height: 100px;
}
.form-claim input[type=submit], .form-claim input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-claim input[type=submit]:hover, .form-claim input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-claim .required{
	color:red;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.columnr {
  float: right;
  padding: 5px;
  height: 30px; /* Should be removed. Only for demonstration */
}
.columnl {
  float: left;
  padding: 5px;
  height: 30px; /* Should be removed. Only for demonstration */
}

div.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 150px;
  text-align: left;
  border-collapse: collapse;
}
.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
.divTable.blueTable .divTableBody .divTableCell {
  font-size: 13px;
}
.blueTable .tableFootStyle {
  font-size: 14px;
}
.blueTable .tableFootStyle .links {
	 text-align: right;
}
.blueTable .tableFootStyle .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.blueTable.outerTableFooter {
  border-top: none;
}
.blueTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

/* Clear floats after the columns */

.frame-area {
  display: block;
  width: 100%;  /* RESPONSIVE WIDTH */
  max-width: 400px;
  height: 300px;
  overflow: auto;  /* EDIT TO hidden FOR NO SCROLLBAR */
  border: #999999 1px solid;
  margin: 0px;
  padding: 0px;
  }
