// @import "bootstrap-sprockets";

@import "./variables.scss";
@import "bootstrap";

h1,
h2,
h3,
h4 {
  font-family: "Gilroy", "Helvetica";
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}

body {
  background-color: #fff;
  font-family: "Muli", Helvetica, Arial;
}

.nav-item a {
  color: #222;
  font-size: 0.8rem;
  // margin-left: 1rem;
  font-weight: 400;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@import "./walid_styles.scss";

.no-style {
  background: transparent !important;
  color: black !important;
  font-size: 14px;
  padding: 0px !important;
  margin: 0px;
  margin-top: 20px !important;
  border: none !important;
}
