<h4>Welcome to Fact Check Assistant! </h4> <br><hr><br>
You can access the service by <b><%= link_to "signing in", new_user_session_path %></b>.
<br><br>
If you don't have an account, please <b><%= link_to "sign up", new_user_registration_path %></b>.
